@import '@fontsource-variable/inter' layer(base);
@import '@fontsource-variable/newsreader' layer(base);
@import '@fontsource-variable/newsreader/wght-italic.css' layer(base);

@import 'tailwindcss';

@import '@fontsource-variable/inter';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar:hover {
    cursor: grab !important;
}

::-webkit-scrollbar:active {
    cursor: grabbing;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: --alpha(var(--color-neutral-500) / 35%);
    border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
    background-color: --alpha(var(--color-neutral-500) / 75%);
}

html.dark ::-webkit-scrollbar-thumb {
    background-color: --alpha(var(--color-neutral-500) / 15%);
    border-radius: var(--radius);
}

html.dark ::-webkit-scrollbar-thumb:hover {
    background-color: --alpha(var(--color-neutral-500) / 45%);
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::selection {
    background-color: --alpha(var(--color-emerald-400) / 50%) !important;
    color: --alpha(var(--color-emerald-950) / 100%) !important;
}

html.dark ::selection {
    background-color: --alpha(var(--color-emerald-400) / 50%) !important;
    color: --alpha(var(--color-amber-50) / 100%) !important;
}

.astro-code {
    border-radius: 0px !important;
    max-height: 80vh !important;
    height: full;
}

.astro-code ::selection {
    background-color: --alpha(var(--color-emerald-400) / 50%) !important;
    color: var(--color-emerald-100) !important;
}

@media (min-width: 768px) {
    img {
        width: calc(100% + 96px);
        max-width: calc(100% + 96px);
        margin-left: -48px;
        margin-right: -48px;
    }
}

/*:root {
    --text-main: #171717;
    --bg-main: #f2f1ec;
    --bg-muted: #eae9e1;
    --border-main: #171717;
}

html.dark {
    --text-main: #f2f1ec;
    --bg-main: #171717;
    --bg-muted: #242424;
    --border-main: #f2f1ec;
}*/

:root {
    --text-main: #162a2b;
    --bg-main: #d6e0e2;
    --bg-muted: #ccd8db;
    --border-main: #162a2b;
    --destructive-foreground: var(--color-red-700);
    --info: var(--color-blue-500);
    --info-foreground: var(--color-blue-700);
    --success: var(--color-emerald-500);
    --success-foreground: var(--color-emerald-700);
    --warning: var(--color-amber-500);
    --warning-foreground: var(--color-amber-700);
    --accent: --alpha(var(--color-black) / 4%);
    --accent-foreground: var(--color-neutral-800);
    --background: var(--color-white);
    --border: --alpha(var(--color-black) / 8%);
    --card: var(--color-white);
    --card-foreground: var(--color-neutral-800);
    --destructive: var(--color-red-500);
    --foreground: var(--color-neutral-800);
    --input: --alpha(var(--color-black) / 10%);
    --muted: --alpha(var(--color-black) / 4%);
    --muted-foreground: color-mix(in srgb, var(--color-neutral-500) 90%, var(--color-black));
    --popover: var(--color-white);
    --popover-foreground: var(--color-neutral-800);
    --primary: var(--color-neutral-800);
    --primary-foreground: var(--color-neutral-50);
    --ring: var(--color-neutral-400);
    --secondary: --alpha(var(--color-black) / 4%);
    --secondary-foreground: var(--color-neutral-800);
    --chart-1: var(--color-orange-600);
    --chart-2: var(--color-teal-600);
    --chart-3: var(--color-cyan-900);
    --chart-4: var(--color-amber-400);
    --chart-5: var(--color-amber-500);
    --code: var(--color-white);
    --code-foreground: var(--foreground);
    --code-highlight: --alpha(var(--color-black) / 4%);
    /*--radius: 0.625rem;*/
    --radius: 0rem;
    --sidebar: var(--color-neutral-50);
    --sidebar-accent: --alpha(var(--color-black) / 4%);
    --sidebar-accent-foreground: var(--color-neutral-800);
    --sidebar-border: --alpha(var(--color-black) / 6%);
    --sidebar-foreground: color-mix(in srgb, var(--color-neutral-800) 64%, var(--sidebar));
    --sidebar-primary: var(--color-neutral-800);
    --sidebar-primary-foreground: var(--color-neutral-50);
    --sidebar-ring: var(--color-neutral-400);
}

html.dark {
    --text-main: #d6e0e2;
    --bg-main: #162a2b;
    --bg-muted: #1c3537;
    --border-main: #d6e0e2;
}

/*:root {
    --text-main: #3a4238;
    --bg-main: #f3efe6;
    --bg-muted: #eee9dc;
    --border-main: #3a4238;
}
html.dark {
    --text-main: #f3efe6;
    --bg-main: #5e6c5b;
    --bg-muted: #596756;
    --border-main: #f3efe6;
}*/

@theme inline {
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Newsreader Variable', serif;
    --text-color-main: var(--text-main);
    --background-color-main: var(--bg-main);
    --background-color-muted: var(--bg-muted);
    --border-color-main: var(--border-main);
    --animate-skeleton: skeleton 2s -1s infinite linear;
    --animate-caret-blink: 1s ease-out infinite caret-blink;
    --animate-toast-success-odd: toast-success-odd 0.32s cubic-bezier(0.5, 1, 0.89, 1);
    --animate-toast-success-even: toast-success-even 0.32s cubic-bezier(0.5, 1, 0.89, 1);
    --animate-toast-error-odd: toast-error-odd 0.28s cubic-bezier(0.5, 1, 0.89, 1);
    --animate-toast-error-even: toast-error-even 0.28s cubic-bezier(0.5, 1, 0.89, 1);
    --color-warning-foreground: var(--warning-foreground);
    --color-warning: var(--warning);
    --color-success-foreground: var(--success-foreground);
    --color-success: var(--success);
    --color-info-foreground: var(--info-foreground);
    --color-info: var(--info);
    --color-destructive-foreground: var(--destructive-foreground);
    @keyframes skeleton {
        to {
            background-position: -200% 0;
        }
    }
    @keyframes caret-blink {
        0%,
        70%,
        to {
            opacity: 1;
        }
        20%,
        50% {
            opacity: 0;
        }
    }
    @keyframes toast-success-odd {
        0% {
            scale: 1;
        }
        30% {
            scale: 1.025;
        }
        60% {
            scale: 0.99;
        }
        100% {
            scale: 1;
        }
    }
    @keyframes toast-error-odd {
        0% {
            translate: 0 0;
        }
        25% {
            translate: -3px 0;
        }
        50% {
            translate: 3px 0;
        }
        75% {
            translate: -3px 0;
        }
        100% {
            translate: 0 0;
        }
    }
    @keyframes toast-success-even {
        0% {
            scale: 1;
        }
        30% {
            scale: 1.025;
        }
        60% {
            scale: 0.99;
        }
        100% {
            scale: 1;
        }
    }
    @keyframes toast-error-even {
        0% {
            translate: 0 0;
        }
        25% {
            translate: -3px 0;
        }
        50% {
            translate: 3px 0;
        }
        75% {
            translate: -3px 0;
        }
        100% {
            translate: 0 0;
        }
    }
    --font-heading: 'Inter', sans-serif;
    --font-mono: 'Geist Mono', monospace;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar: var(--sidebar);
    --color-code-highlight: var(--code-highlight);
    --code-foreground: var(--code-foreground);
    --color-code: var(--code);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-ring: var(--ring);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-input: var(--input);
    --color-foreground: var(--foreground);
    --color-destructive: var(--destructive);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-border: var(--border);
    --color-background: var(--background);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

@layer utilities {
    .prose {
        --tw-prose-body: var(--text-color-main);
        --tw-prose-headings: var(--text-color-main);
        --tw-prose-lead: var(--text-color-main);
        --tw-prose-links: var(--text-color-main);
        --tw-prose-bold: var(--text-color-main);
        --tw-prose-counters: var(--text-color-main);
        --tw-prose-bullets: var(--text-color-main);
        --tw-prose-hr: var(--border-color-main);
        --tw-prose-quotes: var(--text-color-main);
        --tw-prose-quote-borders: var(--border-color-main);
        --tw-prose-captions: var(--text-color-main);
        --tw-prose-kbd: var(--text-color-main);
        --tw-prose-code: var(--text-color-main);
        --tw-prose-th-borders: var(--border-color-main);
        --tw-prose-td-borders: var(--border-color-main);
    }

    .prose a {
        @apply font-normal underline decoration-dashed decoration-1 underline-offset-2 hover:decoration-solid;
    }

    .prose :where(h1, h2, h3, h4, h5, h6) {
        @apply font-serif font-medium;
    }

    .prose :where(code, strong) {
        @apply font-medium;
    }

    .prose blockquote {
        @apply border-none pl-0 font-serif text-[1.375em] leading-snug font-normal italic sm:text-[1.66667em];
    }
}

.dark {
    --destructive-foreground: var(--color-red-400);
    --info: var(--color-blue-500);
    --info-foreground: var(--color-blue-400);
    --success: var(--color-emerald-500);
    --success-foreground: var(--color-emerald-400);
    --warning: var(--color-amber-500);
    --warning-foreground: var(--color-amber-400);
    --accent: --alpha(var(--color-white) / 4%);
    --accent-foreground: var(--color-neutral-100);
    --background: color-mix(in srgb, var(--color-neutral-950) 95%, var(--color-white));
    --border: --alpha(var(--color-white) / 6%);
    --card: color-mix(in srgb, var(--background) 98%, var(--color-white));
    --card-foreground: var(--color-neutral-100);
    --destructive: color-mix(in srgb, var(--color-red-500) 90%, var(--color-white));
    --foreground: var(--color-neutral-100);
    --input: --alpha(var(--color-white) / 8%);
    --muted: --alpha(var(--color-white) / 4%);
    --muted-foreground: color-mix(in srgb, var(--color-neutral-500) 90%, var(--color-white));
    --popover: color-mix(in srgb, var(--background) 98%, var(--color-white));
    --popover-foreground: var(--color-neutral-100);
    --primary: var(--color-neutral-100);
    --primary-foreground: var(--color-neutral-800);
    --ring: var(--color-neutral-500);
    --secondary: --alpha(var(--color-white) / 4%);
    --secondary-foreground: var(--color-neutral-100);
    --chart-1: var(--color-blue-700);
    --chart-2: var(--color-emerald-500);
    --chart-3: var(--color-amber-500);
    --chart-4: var(--color-purple-500);
    --chart-5: var(--color-rose-500);
    --code: color-mix(in srgb, var(--background) 98%, var(--color-white));
    --code-foreground: var(--foreground);
    --code-highlight: --alpha(var(--color-white) / 4%);
    --sidebar: color-mix(in srgb, var(--color-neutral-950) 97%, var(--color-white));
    --sidebar-accent: --alpha(var(--color-white) / 4%);
    --sidebar-accent-foreground: var(--color-neutral-100);
    --sidebar-border: --alpha(var(--color-white) / 5%);
    --sidebar-foreground: color-mix(in srgb, var(--color-neutral-100) 64%, var(--sidebar));
    --sidebar-primary: var(--color-neutral-100);
    --sidebar-primary-foreground: var(--color-neutral-800);
    --sidebar-ring: var(--color-neutral-400);
}

@layer base {
    .shadcn-root * {
        @apply border-border outline-ring/50;
    }
    .shadcn-root {
        font-family: var(--font-serif);
        --font-sans: var(--font-serif);
    }
    .shadcn-root code,
    .shadcn-root kbd,
    .shadcn-root samp,
    .shadcn-root pre {
        font-family: var(--font-mono);
    }
}
